
* {
    box-sizing: border-box;  
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
}

body , html {
    height: 100%;
    width: 100%;
    background-image: url(desk-header.png);
    background-repeat: no-repeat;
}

ul , li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 , h2 , h3, h4 , h5 , h6 {
    margin: 0;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.header-all {
    height: 470px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.div-img-fov {
    width: 100%;
    height: 700px;
    position: absolute;
    background-repeat: no-repeat;
}

.logo-img {
    margin-top: 36px;
}
  
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 60px;
}

.botton-Log-in {
    margin-top: 36px;
    height: 39px;
    width: 93px;

    border: none;
    background-color: transparent;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    color: rgba(255, 255, 255, 1);
}

.botton-Sing-up {
    margin-top: 36px;
    height: 39px;
    width: 93px;

    border: 2px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    border-radius: 200px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    color: rgba(255, 255, 255, 1);
}

.text-info-start {
    width: 508px;
    height: 127px;

    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 1);
}

.text-info-end {
    width: 427px;
    height: 28px;
    margin-top: -23px;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;

    text-align: center;
    
    color: rgba(255, 255, 255, 1);
}

.button-find {
    width: 228px;
    height: 43px; 
    margin-top: 33px;

    border: none;
    background-color: rgba(255, 78, 80, 1);
    border-radius: 200px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    color: rgba(255, 255, 255, 1);
}

.wrapper-info-meet {
    width: 100%;
    height: 450px;
    margin-top: 330px;
   
}

.ul-info-p {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.note {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(32, 32, 32);
    text-align: center;
}

.div-img {
   position: relative;
}

.di-info {
    max-width: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.space {
    margin-top: 50px;
}

.p-2 {
   max-width: 224px;
   margin-top: -7px;
}

.div-logo-mini {
    width: 35px;
    height: 35px;

    background-color: #FF4E50;
    position: absolute;

    border-radius: 200px;
    border: 4px solid white;
    display: block;
    transform: translate(230%,-90%);
}

.div-logo-mini::after {
    content: "";

    width: 17px;
    height: 17px;

    background-image: url(Combined\ shape\ 77.png);
    background-repeat: no-repeat;

    transform: translate(30%,18%);
    display: block;
}

.div-logo-mini-2 {
    width: 35px;
    height: 35px;

    background-color: rgba(28, 215, 173, 1);
    position: absolute;

    border-radius: 200px;
    border: 4px solid white;
    display: block;
    transform: translate(230%,-90%);
}

.div-logo-mini-2::after {
    content: "";

    width: 17px;
    height: 17px;

    background-image: url(Combined\ shape\ 106.png);
    background-repeat: no-repeat;

    transform: translate(30%,18%);
    display: block;
}

.div-logo-mini-3 {
    width: 35px;
    height: 35px;

    background-color: rgba(255, 165, 7, 1);
    position: absolute;

    border-radius: 200px;
    border: 4px solid white;
    display: block;
    transform: translate(230%,-90%);
}

.div-logo-mini-3::after {
    content: "";

    width: 17px;
    height: 17px;

    background-image: url(Combined\ shape\ 108.png);
    background-repeat: no-repeat;

    transform: translate(40%,30%);
    display: block;
}


.div-logo-mini-4 {
    width: 35px;
    height: 35px;

    background-color: rgba(78, 115, 219, 1);
    position: absolute;

    border-radius: 200px;
    border: 4px solid white;
    display: block;
    transform: translate(230%,-90%);
}

.div-logo-mini-4::after {
    content: "";

    width: 17px;
    height: 17px;

    background-image: url(Combined\ shape\ 110.png);
    background-repeat: no-repeat;

    transform: translate(28%,35%);
    display: block;
}

.form-end {
    height: 100px;
    display: flex;
    justify-content: center;
}

.form-button-f {
    width: 200px;
    height: 45px;

    margin-top: 40px;
    background: none;
    border: 3px solid rgb(255,78,80);
    border-radius: 200px;
    color: rgb(255,78,80);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 1040px) {
    .wrapper {
        width: 870px;
        margin: 0 auto;
    } 
    .ul-info-p {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 950px) {
    .wrapper {
        width: 780px;
        margin: 0 auto;
    } 
    .ul-info-p {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 978px) {
    .wrapper {
        width: 780px;
        margin: 0 auto;
    } 
    .ul-info-p {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .li-info-p-1-4 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 850px) {
    .wrapper {
        width: 680px;
        margin: 0 auto;
    } 
    .ul-info-p {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .li-info-p-1-4 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        width: 580px;
        margin: 0 auto;
    } 
    .ul-info-p {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .li-info-p-1-1 {
        margin-top: 0px;
    }
    .li-info-p-1-2 {
        margin-top: 0px;
    }
    .li-info-p-1-3 {
        margin-top: 40px;
    }
    .li-info-p-1-4 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        width: 480px;
        margin: 0 auto;
    } 
    .text-info-start {
        max-width: 406px;
        height: 127px;
    
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 700;
    
        text-align: center;
        text-transform: uppercase;
        
        color: rgba(255, 255, 255, 1);
    }
    .li-info-p-1-1 {
        margin-top: 0px;
    }
    .li-info-p-1-2 {
        margin-top: 0px;
    }
    .li-info-p-1-3 {
        margin-top: 40px;
    }
    .li-info-p-1-4 {
        margin-top: 40px;
    }
    
    .text-info-end {
        width: 427px;
        height: 28px;
        margin-top: -23px;
    
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
    
        text-align: center;
        
        color: rgba(255, 255, 255, 1);
    }
    .ul-info-p {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 540px) {
    .wrapper {
        width: 380px;
        margin: 0 auto;
    } 
    .text-info-start {
        max-width: 406px;
        height: 127px;
    
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 700;
    
        text-align: center;
        text-transform: uppercase;
        
        color: rgba(255, 255, 255, 1);
    }
    .li-info-p-1-1 {
        margin-top: 0px;
    }
    .li-info-p-1-2 {
        margin-top: 40px;
    }
    .li-info-p-1-3 {
        margin-top: 40px;
    }
    .li-info-p-1-4 {
        margin-top: 40px;
    }
    
    .text-info-end {
        width: 427px;
        height: 28px;
        margin-top: -23px;
    
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
    
        text-align: center;
        
        color: rgba(255, 255, 255, 1);
    }
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
    }
    .form-input {
        margin-top: 50px;
    }
    .logo-img {
        margin-top: 100px;
        margin-bottom: 15px;
    }
    .header-text {
        margin-top: 0px;
    }
    .text-info-start {
        margin-top: 0px;
    }
    .botton-Log-in {
        margin-top: 10px;
    }
    .botton-Sing-up {
        margin-top: 10px;
    }
}

